<div class="container">
 <div class="row">
  <div class="col-xs-3">
   <h2>User info</h2>
    <table class="table">
     <tbody>
	  <tr>
       <th><%= attachment_image_tag @user, :profile_image, size:'60x60' ,fallback: "no-image.png" %></th>
      </tr>
      <tr>
       <th scope="row">name</th>
       <td><%=@user.name%></td>
      </tr>
      <tr>
       <th scope="row">introduction</th>
       <td colspan="2"><%=@user.introduction%></td>
      </tr>
     </tbody>
    </table>
    <div class="row">
     <%= link_to edit_user_path(@user) ,class:"btn btn-default col-md-12" do %>
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
     <% end %>
    </div>
     <h2>New book</h2>
      <%= form_for(@books) do |f| %>
       <div class="row">
        <strong><p>Title</p></strong>
        <%= f.text_field :title,class:"col-md-12" %>
       </div>
       <div class="row">
        <strong><p>Option</p></strong>
        <%= f.text_area :body,class:"col-md-12" %>
       </div>
       <div class="row">
        <%= f.submit "Create Book", class:"btn btn-info create-btn col-md-12"%>
       </div>
      <%end%>
  </div>

  <div class="col-xs-9">
   <h2>Book detail</h2>
  <table class="table">
   <tbody>
    <tr>
     <th><%= link_to user_path(@book.user.id) do %>
        <%= attachment_image_tag @user, :profile_image, size:'40x40' ,fallback: "no-image.png" %>
      	<p><%= @user.name %></p>
     </th>
     <% end %>
     <td><%= link_to book_path(@book) do %>
      <%= @book.title %></td>
     <% end %>
     <td><%= @book.body %></td>
     <% if current_user.id == @book.user.id %>
      <td><%= link_to "Edit",edit_book_path(@book),class:"btn btn-success" %></td>
      <td><%= link_to "Destroy", book_path(@book),method: :delete,class:"btn btn-danger" %></td>
     <% end %>
    </tr>
  </tbody>
 </table>
</div>
</div>
</div>